@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.services_bg {
  z-index: 9;
  background-image: url('/public/images/service-bg.jpg');
  width: 100%;
  height: 480px;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}

.newsletter_bg {
  z-index: 9;
  background-image: url('/public/images/Newsletter-Bg.jpg');
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: repeat-x;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  display: block;
}

.lineChart {
  width: 700px;
  margin: auto;
  margin-top: 100px;
}

.path_bg {
  z-index: 9;
  background-image: url('/public/images/breadcum-img.jpg');
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: repeat-x;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}

.footer_menu_link {
  color: black;
  transition: 500ms;
}

.footer_menu_link:hover {
  color: #25AB44;
}

.hb_c>div>a {
  transition: 0.5s;
}

.hb_c:hover>div>a {
  background-color: #25AB44;
  color: white;
}

.hb_c>div>img {
  transition: 0.5s;
}

.hb_c:hover>div>img {
  scale: 1.1;
}

.banner_image {
  height: auto;
  width: 100%;
  display: block;
}


/* Login  Page row design */


.login {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}

.login>.container {
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.login>.container form .title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.login>.container form .title:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}

.login>.container form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.login>.container form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}

.login>.container form .underline::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}

.login>.container form .underline::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

.login>.container form .input-box input:focus~.underline::after,
.login>.container form .input-box input:valid~.underline::after {
  transform: scaleX(1);
  transform-origin: left;
}

.login>.container form .button {
  margin: 40px 0 20px 0;
}

.login>.container .input-box input[type="submit"] {
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login>.container .input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}

.login>.container .option {
  font-size: 14px;
  text-align: center;
}



/* edit scroll ber */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}